<div class="w-full relative">
  <div class="absolute bottom-20 w-screen text-center z-10 text-slate-50 left-0 right-0 m-auto">
    <h1 class="text-6xl">W AUDIO VISUAL</h1>
    <h3>TU LUGAR DE CONFIANZA</h3>
  </div>
  <video
    class="w-full h-screen object-cover object-top animate-fade animate-duration-1000"
    src="/360_LOGO.mp4"
    autoplay
    loop
    muted
    style="clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);"></video>
  <video
    class="absolute -bottom-48 blur-3xl -z-40"
    src="/360_LOGO.mp4"
    autoplay
    loop
    muted></video>
</div>
